nodered/flows.json
[{"id":"3e2d4a49.a31c96","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae3963fe.eace6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ef021d4c.5f30f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"23395da8.622f92","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.1.6","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b87f1c32.fefc8","type":"Kafka Broker","z":"","name":"broker","hosts":[{"host":"192.168.1.6","port":9092}],"connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","usetls":false},{"id":"ec5bda6d.a2e4a8","type":"inject","z":"ae3963fe.eace6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["50876626.7b7608"]]},{"id":"50876626.7b7608","type":"function","z":"ae3963fe.eace6","name":"math","func":"ran=Math.round(Math.random()*100);\nmsg.payload=ran;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":220,"wires":[["f8795c89.53041"]]},{"id":"f8795c89.53041","type":"debug","z":"ae3963fe.eace6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":200,"y":300,"wires":[]},{"id":"a0663e11.903bb","type":"inject","z":"ae3963fe.eace6","name":"","topic":"Random","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":420,"wires":[["3dac48cc.286098"]]},{"id":"3dac48cc.286098","type":"function","z":"ae3963fe.eace6","name":"Random","func":"ran=Math.round(Math.random()*100)\nmsg.payload=ran;\nreturn msg;","outputs":1,"noerr":0,"x":318.00001525878906,"y":510.1999969482422,"wires":[["49456ba9.d561c4"]]},{"id":"49456ba9.d561c4","type":"debug","z":"ae3963fe.eace6","name":"","active":true,"console":"false","complete":"payload","x":668,"y":406.1999969482422,"wires":[]},{"id":"2e4a20b6.18294","type":"inject","z":"ae3963fe.eace6","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":100,"wires":[["9055ad02.1618e"]]},{"id":"3eccb2b4.48c78e","type":"debug","z":"ae3963fe.eace6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":200,"wires":[]},{"id":"9055ad02.1618e","type":"function","z":"ae3963fe.eace6","name":"","func":"var newString= msg.payload.replace('world', \"WORLD\");\nreturn {payload: newString};","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["3eccb2b4.48c78e"]]},{"id":"3e162617.26114a","type":"function","z":"3e2d4a49.a31c96","name":"GetDay (0-6)","func":"\nmsg.day = new Date().getDay();\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["b74faa0b.ed5058"]]},{"id":"55ef1f19.c1e47","type":"switch","z":"3e2d4a49.a31c96","name":"weekend?","property":"day","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":260,"wires":[["d1a5f362.9252d"],["aeb7c96c.8bdc18"]]},{"id":"b74faa0b.ed5058","type":"rbe","z":"3e2d4a49.a31c96","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"day","x":528,"y":180,"wires":[["55ef1f19.c1e47"]]},{"id":"4f2cc517.6c8f6c","type":"change","z":"3e2d4a49.a31c96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":720,"wires":[[]]},{"id":"1732a41e.e49fbc","type":"inject","z":"3e2d4a49.a31c96","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["3e162617.26114a"]]},{"id":"d1a5f362.9252d","type":"debug","z":"3e2d4a49.a31c96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":200,"wires":[]},{"id":"aeb7c96c.8bdc18","type":"debug","z":"3e2d4a49.a31c96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":300,"wires":[]},{"id":"fbc6a862.1d5648","type":"inject","z":"ef021d4c.5f30f","name":"","topic":"","payload":"{type: 'heartRate', value: 70}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["f1636922.1d9248"]]},{"id":"8fc32136.7f796","type":"debug","z":"ef021d4c.5f30f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":360,"wires":[]},{"id":"4ad6bdb.ee1b044","type":"mqtt in","z":"ef021d4c.5f30f","name":"","topic":"sensor/heartRate","qos":"2","datatype":"auto","broker":"23395da8.622f92","x":220,"y":300,"wires":[["d1b4946c.736608"]]},{"id":"f1636922.1d9248","type":"mqtt out","z":"ef021d4c.5f30f","name":"","topic":"sensor/heartRate","qos":"","retain":"","broker":"23395da8.622f92","x":520,"y":160,"wires":[]},{"id":"d1b4946c.736608","type":"function","z":"ef021d4c.5f30f","name":"","func":"return msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["8fc32136.7f796"]]},{"id":"48e19a05.a983b4","type":"Kafka Consumer","z":"ef021d4c.5f30f","name":"","broker":"b87f1c32.fefc8","topics":[{"topic":"TestTopic","offset":0,"partition":1}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":720,"y":500,"wires":[["20a4e907.b09046"]]},{"id":"8045563c.d50978","type":"Kafka Producer","z":"ef021d4c.5f30f","name":"","broker":"b87f1c32.fefc8","topic":"TestTopic","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":"1","attributes":0,"connectionType":"Producer","x":520,"y":600,"wires":[]},{"id":"217075af.03e3fa","type":"inject","z":"ef021d4c.5f30f","name":"","topic":"","payload":"{type: 'heartRate', value: 70}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":460,"wires":[["8045563c.d50978"]]},{"id":"20a4e907.b09046","type":"debug","z":"ef021d4c.5f30f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":580,"wires":[]}]
