flows/flows (4).json
[{"id":"d1c5490e.ffe338","type":"inject","z":"3e2d4a49.a31c96","name":"","topic":"Random","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"x":100,"y":420,"wires":[["5bf26ee6.d8eaf"]]},{"id":"5bf26ee6.d8eaf","type":"function","z":"3e2d4a49.a31c96","name":"Random","func":"ran=Math.round(Math.random()*100)\nmsg.payload=ran;\nreturn msg;","outputs":1,"noerr":0,"x":318.00001525878906,"y":510.1999969482422,"wires":[["db7eeca2.b79d9"]]},{"id":"db7eeca2.b79d9","type":"debug","z":"3e2d4a49.a31c96","name":"","active":true,"console":"false","complete":"payload","x":668,"y":406.1999969482422,"wires":[]}]