flows/flows.json
[{"id":"5f4198a0.b19a88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c74eb625.6fdb38","type":"inject","z":"5f4198a0.b19a88","name":"","topic":"sensors/timestamp","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["7f16ffb1.ace0d"]]},{"id":"b90b9d4.fe4eb6","type":"mqtt in","z":"5f4198a0.b19a88","name":"","topic":"sensors/#","qos":"0","datatype":"auto","broker":"acf6d491.9ac068","x":120,"y":280,"wires":[["812af9eb.d7e0a8"]]},{"id":"7f16ffb1.ace0d","type":"mqtt out","z":"5f4198a0.b19a88","name":"","topic":"","qos":"","retain":"","broker":"acf6d491.9ac068","x":310,"y":140,"wires":[]},{"id":"812af9eb.d7e0a8","type":"debug","z":"5f4198a0.b19a88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":320,"wires":[]},{"id":"acf6d491.9ac068","type":"mqtt-broker","z":"","name":"","broker":"147.252.137.29","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]