flows/flows (2).json
[{"id":"f94d21a9.5c5d7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"57425ad1.bcfbe4","type":"inject","z":"f94d21a9.5c5d7","name":"","topic":"sensors/timestamp","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["9086308f.1f193"]]},{"id":"8093ce23.28bb4","type":"mqtt in","z":"f94d21a9.5c5d7","name":"","topic":"sensors/#","qos":"0","datatype":"auto","broker":"c6857b8c.6a2cc8","x":120,"y":280,"wires":[["1c02b819.129a78"]]},{"id":"9086308f.1f193","type":"mqtt out","z":"f94d21a9.5c5d7","name":"","topic":"","qos":"","retain":"","broker":"c6857b8c.6a2cc8","x":310,"y":140,"wires":[]},{"id":"1c02b819.129a78","type":"debug","z":"f94d21a9.5c5d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":260,"wires":[]},{"id":"89aec68.19c9538","type":"kafka","z":"f94d21a9.5c5d7","zkquorum":"147.252.140.186:2181","topics":"heart_topic","debug":"","x":310,"y":480,"wires":[]},{"id":"1357a93b.3792c7","type":"kafka in","z":"f94d21a9.5c5d7","zkquorum":"147.252.140.186:2181","topics":"heart_topic","groupId":"group_id","debug":"","autoCommit":true,"x":90,"y":560,"wires":[["5588df48.77579"]]},{"id":"5588df48.77579","type":"debug","z":"f94d21a9.5c5d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":600,"wires":[]},{"id":"f5372202.f7e2b","type":"inject","z":"f94d21a9.5c5d7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["89aec68.19c9538"]]},{"id":"c6857b8c.6a2cc8","type":"mqtt-broker","z":"","name":"","broker":"147.252.140.186","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]