flows/payloadeg.json
[{"id":"3e2d4a49.a31c96","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f01e29c0.5e36b8","type":"inject","z":"3e2d4a49.a31c96","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["65a9ff6d.0891"]]},{"id":"65a9ff6d.0891","type":"function","z":"3e2d4a49.a31c96","name":"math","func":"ran=Math.round(Math.random()*100);\nmsg.payload=ran;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":220,"wires":[["d44f2d5f.fa44a"]]},{"id":"d44f2d5f.fa44a","type":"debug","z":"3e2d4a49.a31c96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":200,"y":300,"wires":[]},{"id":"d1c5490e.ffe338","type":"inject","z":"3e2d4a49.a31c96","name":"","topic":"Random","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":420,"wires":[["5bf26ee6.d8eaf"]]},{"id":"5bf26ee6.d8eaf","type":"function","z":"3e2d4a49.a31c96","name":"Random","func":"ran=Math.round(Math.random()*100)\nmsg.payload=ran;\nreturn msg;","outputs":1,"noerr":0,"x":318.00001525878906,"y":510.1999969482422,"wires":[["db7eeca2.b79d9"]]},{"id":"db7eeca2.b79d9","type":"debug","z":"3e2d4a49.a31c96","name":"","active":true,"console":"false","complete":"payload","x":668,"y":406.1999969482422,"wires":[]},{"id":"680aa207.777dec","type":"inject","z":"3e2d4a49.a31c96","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":100,"wires":[["4aa047f6.6616d8"]]},{"id":"f505d7d1.bad128","type":"debug","z":"3e2d4a49.a31c96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":200,"wires":[]},{"id":"4aa047f6.6616d8","type":"function","z":"3e2d4a49.a31c96","name":"","func":"var newString= msg.payload.replace('world', \"WORLD\");\nreturn {payload: newString};","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["f505d7d1.bad128"]]}]