data/.flows.json.backup
[{"id":"d007ab88.556c28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c99d7c5b.dbceb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9ad048c9.92d688","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2c81ea31.88f486","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"28d02f4d.6497f","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"efdb1acf.f6a1c8","type":"Kafka Broker","z":"","name":"Broker","hosts":[{"host":"192.168.1.2","port":9092}],"connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","usetls":false},{"id":"3bdc2eab.345452","type":"influxdb","z":"","hostname":"192.168.1.6","port":"8086","protocol":"http","database":"CardiacEvents","name":"CardiacEvents","usetls":false,"tls":""},{"id":"d4482b51.5561d8","type":"influxdb","z":"c99d7c5b.dbceb","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"5fa03363.e27a7c","type":"influxdb","z":"c99d7c5b.dbceb","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"d73cc443.995d18","type":"influxdb","z":"c99d7c5b.dbceb","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"9c6ce8d8.225c78","type":"function","z":"d007ab88.556c28","name":"example-KafkaProducer","func":"var kafka = global.get('kafka'),\n    Producer = kafka.Producer,\n    KeyedMessage = kafka.KeyedMessage,\n    client = new kafka.KafkaClient({kafkaHost: '192.168.1.6:9092'}),\n    producer = new Producer(client),\n    km = new KeyedMessage('key', 'message'),\n    payloads = [\n        { topic: 'TestTopic', messages: msg.payload, partition: 0 }\n    ];\nproducer.on('ready', function () {\n    producer.send(payloads, function (err, data) {\n        console.log(data);\n    });\n});","outputs":1,"noerr":0,"x":1290,"y":20,"wires":[[]]},{"id":"131da92a.f6abb7","type":"mqtt in","z":"d007ab88.556c28","name":"MQTT Consumer","topic":"CardiacEvents","qos":"2","datatype":"auto","broker":"28d02f4d.6497f","x":840,"y":360,"wires":[["1d2a901a.5e627","bbe50dd3.d642"]]},{"id":"a55df07e.24b96","type":"mqtt out","z":"d007ab88.556c28","name":"MQTT Producer","topic":"CardiacEvents","qos":"2","retain":"true","broker":"28d02f4d.6497f","x":760,"y":240,"wires":[]},{"id":"5e264ced.5cec24","type":"inject","z":"d007ab88.556c28","name":"sensor/heartRhythm","topic":"CardiacEvents","payload":"{\"id\":1,\"sensor\":\"heartRhythm\",\"value\":40}","payloadType":"json","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":320,"wires":[["62e0983b.cf1ba8"]]},{"id":"469f798a.2658c8","type":"Kafka Consumer","z":"d007ab88.556c28","name":"KafkaConsumer","broker":"efdb1acf.f6a1c8","topics":[{"topic":"CardiacEvents","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":595,"y":600,"wires":[["203a0505.41c31a","235ea9e7.2581c6"]],"l":false},{"id":"1d2a901a.5e627","type":"Kafka Producer","z":"d007ab88.556c28","name":"Kafka Producer","broker":"efdb1acf.f6a1c8","topic":"CardiacEvents","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":900,"y":460,"wires":[]},{"id":"f48ca65d.0e5378","type":"influxdb out","z":"d007ab88.556c28","influxdb":"3bdc2eab.345452","name":"HeartRateOutput","measurement":"heartRate","precision":"","retentionPolicy":"","x":1150,"y":640,"wires":[]},{"id":"fec2131c.89de2","type":"influxdb out","z":"c99d7c5b.dbceb","influxdb":"5fa03363.e27a7c","name":"","measurement":"test","precision":"","retentionPolicy":"","x":2590,"y":140,"wires":[]},{"id":"61a65382.26a08c","type":"function","z":"c99d7c5b.dbceb","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":2407,"y":168,"wires":[["fec2131c.89de2"]]},{"id":"6567fbf4.a28184","type":"inject","z":"c99d7c5b.dbceb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":2720,"y":180,"wires":[["61a65382.26a08c"]]},{"id":"1f000786.5a8138","type":"function","z":"c99d7c5b.dbceb","name":"multiple readings","func":"msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date(\"2015-12-28T19:41:14Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":220,"wires":[["345bdf5a.28b45"]]},{"id":"87f51ca0.0b816","type":"inject","z":"c99d7c5b.dbceb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2657,"y":257,"wires":[["1f000786.5a8138"]]},{"id":"345bdf5a.28b45","type":"influxdb out","z":"c99d7c5b.dbceb","influxdb":"d73cc443.995d18","name":"","measurement":"test","x":2630,"y":220,"wires":[]},{"id":"e5606c0.93a2698","type":"function","z":"d007ab88.556c28","name":"example-InfluxDBProducer","func":"const Influx = global.get('influx');\nconst influx = new Influx.InfluxDB({\n  host: '192.168.1.2',\n  database: 'CardiacEvents',\n  schema: [\n    {\n      measurement: 'tide',\n      fields: { height: Influx.FieldType.FLOAT },\n      tags: ['unit', 'location']\n    }\n  ]\n});\n\ninflux.writePoints([\n      {\n        measurement: 'tide',\n        tags: {\n          unit: 17,\n          location: 11,\n        },\n        fields: { height: 10 },\n        timestamp: 11111,\n      }\n    ], {\n      database: 'CardiacEvents',\n      precision: 's',\n    })\n    .catch(error => {\n      console.error(`Error saving data to InfluxDB! ${err.stack}`)\n    });\n","outputs":1,"noerr":0,"x":1280,"y":100,"wires":[[]]},{"id":"235ea9e7.2581c6","type":"function","z":"d007ab88.556c28","name":"json","func":"var payload = JSON.parse(msg.payload);\n\nmsg.payload = [{\n        value: payload.value\n    },\n    {\n        id:payload.id,\n        sensor: payload.sensor\n    }];\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["e7bfc447.7cf208"]]},{"id":"e7bfc447.7cf208","type":"switch","z":"d007ab88.556c28","name":"","property":"payload[1].sensor","propertyType":"msg","rules":[{"t":"eq","v":"heartRate","vt":"str"},{"t":"eq","v":"heartRhythm","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":660,"wires":[["f48ca65d.0e5378"],["a9c7bb69.7fd068"]]},{"id":"a9c7bb69.7fd068","type":"influxdb out","z":"d007ab88.556c28","influxdb":"3bdc2eab.345452","name":"HeartRhythmOuput","measurement":"heartRhythm","precision":"","retentionPolicy":"","x":1170,"y":720,"wires":[]},{"id":"203a0505.41c31a","type":"debug","z":"d007ab88.556c28","name":"DEBUGOUTPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":560,"wires":[]},{"id":"9074c353.96bba","type":"function","z":"d007ab88.556c28","name":"Caution Low HeartRate","func":"var number = Math.floor(Math.random() * 10) + 30;   \nmsg.payload.value = number;\nvar date = new Date();\nmsg.payload.timestamp = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":180,"wires":[[]]},{"id":"384261de.83cbce","type":"inject","z":"d007ab88.556c28","name":"sensor/heartRate","topic":"CardiacEvents","payload":"{\"id\":1,\"sensor\":\"heartRate\",\"value\":70,\"timestamp\":1}","payloadType":"json","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["88c8900a.1fa46"]]},{"id":"62e0983b.cf1ba8","type":"function","z":"d007ab88.556c28","name":"NormalHeartRhythm","func":"var number = Math.floor(Math.random() * 5) + 40;   \n\nmsg.payload.value = number;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["a55df07e.24b96"]]},{"id":"9d8266ba.06a908","type":"function","z":"d007ab88.556c28","name":"Urgent High HeartRate","func":"var number = Math.floor(Math.random() * 20) + 131;   \n\nmsg.payload.value = number;\nvar date = new Date();\nmsg.payload.timestamp = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":60,"wires":[[]]},{"id":"88c8900a.1fa46","type":"function","z":"d007ab88.556c28","name":"Normal HeartRate","func":"var number = Math.floor(Math.random() * 20) + 50;   \nmsg.payload.value = number;\nvar date = new Date();\nmsg.payload.timestamp = date;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["a55df07e.24b96"]]},{"id":"2410303a.94654","type":"function","z":"d007ab88.556c28","name":"Caution High HeartRate","func":"var number = Math.floor(Math.random() * 20) + 105;   \n\nmsg.payload.value = number;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":20,"wires":[[]]},{"id":"bbe50dd3.d642","type":"debug","z":"d007ab88.556c28","name":"DEBUGOUTPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":300,"wires":[]},{"id":"69a6b9a6.5bccc8","type":"mqtt in","z":"c99d7c5b.dbceb","name":"MQTT Consumer","topic":"timestamp","qos":"2","datatype":"auto","broker":"28d02f4d.6497f","x":580,"y":500,"wires":[["269135f1.3518ea"]]},{"id":"2f0bf8ef.e7a098","type":"mqtt out","z":"c99d7c5b.dbceb","name":"MQTT Producer","topic":"timestamp","qos":"","retain":"","broker":"28d02f4d.6497f","x":600,"y":380,"wires":[]},{"id":"f1b7776e.427378","type":"Kafka Consumer","z":"c99d7c5b.dbceb","name":"KafkaConsumer","broker":"efdb1acf.f6a1c8","topics":[{"topic":"timestamp","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":575,"y":640,"wires":[["45e9d217.28db8c"]],"l":false},{"id":"269135f1.3518ea","type":"Kafka Producer","z":"c99d7c5b.dbceb","name":"Kafka Producer","broker":"efdb1acf.f6a1c8","topic":"timestamp","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":780,"y":560,"wires":[]},{"id":"a4dd8ee8.52723","type":"influxdb out","z":"c99d7c5b.dbceb","influxdb":"3bdc2eab.345452","name":"LatencyTimeStamp","measurement":"timestamp","precision":"","retentionPolicy":"","x":1190,"y":640,"wires":[]},{"id":"a7f445a8.4731c8","type":"inject","z":"c99d7c5b.dbceb","name":"s2","topic":"TestTopic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2450,"y":300,"wires":[["952ffa93.e42dd8"]]},{"id":"6f0da329.02040c","type":"inject","z":"c99d7c5b.dbceb","name":"s3","topic":"TestTopic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2147,"y":317,"wires":[["3ef2a262.a6d3de"]]},{"id":"5e8ba914.584e68","type":"inject","z":"c99d7c5b.dbceb","name":"s4","topic":"TestTopic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2687,"y":297,"wires":[["7f91de03.9d347"]]},{"id":"d081f9c2.3f5458","type":"inject","z":"c99d7c5b.dbceb","name":"s1","topic":"TestTopic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["665835c7.9e0f2c"]]},{"id":"952ffa93.e42dd8","type":"debug","z":"c99d7c5b.dbceb","name":"s2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2670,"y":260,"wires":[]},{"id":"3ef2a262.a6d3de","type":"debug","z":"c99d7c5b.dbceb","name":"s3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2287,"y":237,"wires":[]},{"id":"7f91de03.9d347","type":"debug","z":"c99d7c5b.dbceb","name":"s4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2727,"y":357,"wires":[]},{"id":"665835c7.9e0f2c","type":"function","z":"c99d7c5b.dbceb","name":"Normal HeartRate","func":"var date = new Date();\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["2f0bf8ef.e7a098"]]},{"id":"45e9d217.28db8c","type":"function","z":"c99d7c5b.dbceb","name":"json","func":"var payload = JSON.parse(msg.payload);\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":660,"wires":[["63fc4392.bf52bc","7f95ca18.711f44"]]},{"id":"7d2dc434.3441dc","type":"debug","z":"c99d7c5b.dbceb","name":"s1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2367,"y":317,"wires":[]},{"id":"63fc4392.bf52bc","type":"debug","z":"c99d7c5b.dbceb","name":"s1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":500,"wires":[]},{"id":"7f95ca18.711f44","type":"switch","z":"c99d7c5b.dbceb","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"timestamp","vt":"str"},{"t":"eq","v":"heartRhythm","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":640,"wires":[["a4dd8ee8.52723"],["7789a862.f06c88"]]},{"id":"7789a862.f06c88","type":"influxdb out","z":"c99d7c5b.dbceb","influxdb":"3bdc2eab.345452","name":"HeartRhythmOuput","measurement":"heartRhythm","precision":"","retentionPolicy":"","x":1210,"y":740,"wires":[]}]