data/.flows.json.backup
[{"id":"d007ab88.556c28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c99d7c5b.dbceb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"28d02f4d.6497f","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"efdb1acf.f6a1c8","type":"Kafka Broker","z":"","name":"Broker","hosts":[{"host":"192.168.1.2","port":9002}],"connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","usetls":false},{"id":"3bdc2eab.345452","type":"influxdb","z":"","hostname":"192.168.1.2","port":"8086","protocol":"http","database":"CardiacEvents","name":"CardiacEvents","usetls":false,"tls":""},{"id":"d4482b51.5561d8","type":"influxdb","z":"c99d7c5b.dbceb","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"5fa03363.e27a7c","type":"influxdb","z":"c99d7c5b.dbceb","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"d73cc443.995d18","type":"influxdb","z":"c99d7c5b.dbceb","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"9c6ce8d8.225c78","type":"function","z":"d007ab88.556c28","name":"example-KafkaProducer","func":"var kafka = global.get('kafka'),\n    Producer = kafka.Producer,\n    KeyedMessage = kafka.KeyedMessage,\n    client = new kafka.KafkaClient({kafkaHost: '192.168.1.6:9092'}),\n    producer = new Producer(client),\n    km = new KeyedMessage('key', 'message'),\n    payloads = [\n        { topic: 'TestTopic', messages: msg.payload, partition: 0 }\n    ];\nproducer.on('ready', function () {\n    producer.send(payloads, function (err, data) {\n        console.log(data);\n    });\n});","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"131da92a.f6abb7","type":"mqtt in","z":"d007ab88.556c28","name":"MQTT Consumer","topic":"TestTopic","qos":"2","datatype":"auto","broker":"28d02f4d.6497f","x":660,"y":180,"wires":[["1d2a901a.5e627"]]},{"id":"a55df07e.24b96","type":"mqtt out","z":"d007ab88.556c28","name":"MQTT Producer","topic":"TestTopic","qos":"","retain":"","broker":"28d02f4d.6497f","x":440,"y":320,"wires":[]},{"id":"5e264ced.5cec24","type":"inject","z":"d007ab88.556c28","name":"sensor/heartRhythm","topic":"TestTopic","payload":"{\"id\":1, \"sensor\":\"heartRhythm\", \"value\":40}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":340,"wires":[["a55df07e.24b96"]]},{"id":"469f798a.2658c8","type":"Kafka Consumer","z":"d007ab88.556c28","name":"KafkaConsumer","broker":"efdb1acf.f6a1c8","topics":[{"topic":"TestTopic","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":515,"y":420,"wires":[["235ea9e7.2581c6"]],"l":false},{"id":"1d2a901a.5e627","type":"Kafka Producer","z":"d007ab88.556c28","name":"Producer","broker":"efdb1acf.f6a1c8","topic":"TestTopic","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":880,"y":200,"wires":[]},{"id":"f48ca65d.0e5378","type":"influxdb out","z":"d007ab88.556c28","influxdb":"3bdc2eab.345452","name":"HeartRateOutput","measurement":"heartRate","precision":"","retentionPolicy":"","x":1070,"y":400,"wires":[]},{"id":"fec2131c.89de2","type":"influxdb out","z":"c99d7c5b.dbceb","influxdb":"5fa03363.e27a7c","name":"","measurement":"test","precision":"","retentionPolicy":"","x":670,"y":220,"wires":[]},{"id":"61a65382.26a08c","type":"function","z":"c99d7c5b.dbceb","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":248,"wires":[["fec2131c.89de2"]]},{"id":"6567fbf4.a28184","type":"inject","z":"c99d7c5b.dbceb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":343,"y":223,"wires":[["61a65382.26a08c"]]},{"id":"1f000786.5a8138","type":"function","z":"c99d7c5b.dbceb","name":"multiple readings","func":"msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date(\"2015-12-28T19:41:14Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["345bdf5a.28b45"]]},{"id":"87f51ca0.0b816","type":"inject","z":"c99d7c5b.dbceb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":336,"y":480,"wires":[["1f000786.5a8138"]]},{"id":"345bdf5a.28b45","type":"influxdb out","z":"c99d7c5b.dbceb","influxdb":"d73cc443.995d18","name":"","measurement":"test","x":711,"y":479,"wires":[]},{"id":"e5606c0.93a2698","type":"function","z":"d007ab88.556c28","name":"example-InfluxDBProducer","func":"const Influx = global.get('influx');\nconst influx = new Influx.InfluxDB({\n  host: '192.168.1.2',\n  database: 'CardiacEvents',\n  schema: [\n    {\n      measurement: 'tide',\n      fields: { height: Influx.FieldType.FLOAT },\n      tags: ['unit', 'location']\n    }\n  ]\n});\n\ninflux.writePoints([\n      {\n        measurement: 'tide',\n        tags: {\n          unit: 17,\n          location: 11,\n        },\n        fields: { height: 10 },\n        timestamp: 11111,\n      }\n    ], {\n      database: 'CardiacEvents',\n      precision: 's',\n    })\n    .catch(error => {\n      console.error(`Error saving data to InfluxDB! ${err.stack}`)\n    });\n","outputs":1,"noerr":0,"x":1100,"y":580,"wires":[[]]},{"id":"384261de.83cbce","type":"inject","z":"d007ab88.556c28","name":"sensor/heartRate","topic":"TestTopic","payload":"{\"id\":1, \"sensor\":\"heartRate\", \"value\":70}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["a55df07e.24b96"]]},{"id":"235ea9e7.2581c6","type":"function","z":"d007ab88.556c28","name":"json","func":"var payload = JSON.parse(msg.payload);\n\nmsg.payload = [{\n        value: payload.value\n    },\n    {\n        id:payload.id,\n        sensor: payload.sensor\n    }];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["e7bfc447.7cf208","f9ec285e.7e5698"]]},{"id":"e7bfc447.7cf208","type":"switch","z":"d007ab88.556c28","name":"","property":"payload[1].sensor","propertyType":"msg","rules":[{"t":"eq","v":"heartRate","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":440,"wires":[["f48ca65d.0e5378"]]},{"id":"a9c7bb69.7fd068","type":"influxdb out","z":"d007ab88.556c28","influxdb":"3bdc2eab.345452","name":"HeartRhythmOuput","measurement":"heartRhythm","precision":"","retentionPolicy":"","x":1070,"y":520,"wires":[]},{"id":"f9ec285e.7e5698","type":"switch","z":"d007ab88.556c28","name":"","property":"payload[1].sensor","propertyType":"msg","rules":[{"t":"eq","v":"heartRhythm","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":540,"wires":[["a9c7bb69.7fd068"]]}]