data/.flows.json.backup
[{"id":"d007ab88.556c28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"28d02f4d.6497f","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.1.6","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"efdb1acf.f6a1c8","type":"Kafka Broker","z":"","name":"Broker","hosts":[{"host":"192.168.1.6","port":9092}],"connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","usetls":false},{"id":"384261de.83cbce","type":"inject","z":"d007ab88.556c28","name":"sensor/heartRate","topic":"TestTopic","payload":"{type: \"heartRate\", value: \"70\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["a55df07e.24b96"]]},{"id":"9c6ce8d8.225c78","type":"function","z":"d007ab88.556c28","name":"","func":"var kafka = global.get('kafka'),\n    Producer = kafka.Producer,\n    KeyedMessage = kafka.KeyedMessage,\n    client = new kafka.KafkaClient({kafkaHost: '192.168.1.6:9092'}),\n    producer = new Producer(client),\n    km = new KeyedMessage('key', 'message'),\n    payloads = [\n        { topic: 'TestTopic', messages: msg.payload, partition: 0 }\n    ];\nproducer.on('ready', function () {\n    producer.send(payloads, function (err, data) {\n        console.log(data);\n    });\n});","outputs":1,"noerr":0,"x":790,"y":340,"wires":[[]]},{"id":"131da92a.f6abb7","type":"mqtt in","z":"d007ab88.556c28","name":"","topic":"TestTopic","qos":"2","datatype":"auto","broker":"28d02f4d.6497f","x":640,"y":180,"wires":[["1d2a901a.5e627"]]},{"id":"a55df07e.24b96","type":"mqtt out","z":"d007ab88.556c28","name":"","topic":"TestTopic","qos":"","retain":"","broker":"28d02f4d.6497f","x":420,"y":320,"wires":[]},{"id":"5e264ced.5cec24","type":"inject","z":"d007ab88.556c28","name":"sensor/heartRhythm","topic":"TestTopic","payload":"{type: \"heartRhythm\", value: \"40\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":340,"wires":[["a55df07e.24b96"]]},{"id":"469f798a.2658c8","type":"Kafka Consumer","z":"d007ab88.556c28","name":"KafkaConsumer","broker":"efdb1acf.f6a1c8","topics":[{"topic":"TestTopic","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":595,"y":620,"wires":[["5cbfbaf9.3dcd14"]],"l":false},{"id":"5cbfbaf9.3dcd14","type":"debug","z":"d007ab88.556c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":620,"wires":[]},{"id":"1d2a901a.5e627","type":"Kafka Producer","z":"d007ab88.556c28","name":"Producer","broker":"efdb1acf.f6a1c8","topic":"TestTopic","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":880,"y":200,"wires":[]}]